# Node modules
node_modules/

# Environment files
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Coverage
coverage/

# Local database files (SQLite)
*.db
*.db-journal

/src/generated/prisma

files/public/*
!files/public/.gitkeep
!files/public/placeholder.png


files/protected/*
!files/protected/.gitkeep

# Local planning docs - not pushed to repo
docs/PRD_Sekolah_Alam_Update_Fitur_5.md
docs/Rencana_Fix_Fondasi_Rekomendasi_Agent (2).md
